Source: ocrad
Section: graphics
Priority: optional
Maintainer: Alexander Alemayhu <alexander@bitraf.no>
Build-Depends:
 debhelper (>= 7), dpkg-dev (>= 1.16),
 install-info
Standards-Version: 3.9.5
Homepage: http://www.gnu.org/software/ocrad/ocrad.html
Vcs-Git: git://github.com/scanf/ocrad-debian.git
Vcs-Browser: https://github.com/scanf/ocrad-debian
XS-Testsuite: autopkgtest

Package: ocrad
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: optical character recognition program
 GNU Ocrad is an OCR (Optical Character Recognition) program based on a
 feature extraction method. It reads a bitmap image in pgm/pbm format and
 produces text in byte (8-bit) or UTF-8 formats.
 .
 Ocrad includes a layout analyzer able to separate the columns or blocks
 of text normally found on printed pages.
 .
 This package includes the command-line tool.

Package: libocrad-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: optical character recognition library
 GNU Ocrad is an OCR (Optical Character Recognition) program based on a
 feature extraction method. It reads a bitmap image in pgm/pbm format and
 produces text in byte (8-bit) or UTF-8 formats.
 .
 Ocrad includes a layout analyzer able to separate the columns or blocks
 of text normally found on printed pages.
 .
 This package includes the static library.
